<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <title>Visual data | Moodofthenation</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
      body { 
        opacity: 0; 
        transition: opacity 3s; 
      } 
      #newsfeed{  
        width:100%;  
        height:150px;
        margin:auto;
        margin-top:10px;
        border-radius:10px;
        background-color:#ededed;
      }
    </style>
</head>
<body onload="document.body.style.opacity='1'">
  <nav class="navbar navbar-expand-sm bg-light navbar-light" id="nav">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">
        <img src={{url_for('static', filename='logo.png')}} style="height: 50px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Welcome,{{user}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Location:India</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Account settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <canvas id="line"></canvas>
            <br><br>
            <h3 align='center'>Timeline</h3><br>
            <div class="row">
              <div class="col-3 col-sm-3 col-lg-3">Before 1 hour <br><br> <img src="/Users/chetu/Desktop/Projects/moodofthenation/static/download.png" style="width: 70px;height: 70px;"></div>
              <div class="col-3 col-sm-3 col-lg-3">Before 2 hours <br><br> <img src="/Users/chetu/Desktop/Projects/moodofthenation/static/download.png" style="width: 70px;height: 70px;"></div>
              <div class="col-3 col-sm-3 col-lg-3">Before 3 hours <br><br> <img src="/Users/chetu/Desktop/Projects/moodofthenation/static/download.png" style="width: 70px;height: 70px;"></div>
              <div class="col-3 col-sm-3 col-lg-3">Before 4 hours <br><br> <img src="/Users/chetu/Desktop/Projects/moodofthenation/static/download.png" style="width: 70px;height: 70px;"></div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-3 col-sm-3 col-lg-3">Before 5 hours <br><br> <img src="/Users/chetu/Desktop/Projects/moodofthenation/static/download.png" style="width: 70px;height: 70px;"></div>
              <div class="col-3 col-sm-3 col-lg-3">Before 6 hours <br><br> <img src="/Users/chetu/Desktop/Projects/moodofthenation/static/download.png" style="width: 70px;height: 70px;"></div>
              <div class="col-3 col-sm-3 col-lg-3">Before 7 hours<br><br> <img src="/Users/chetu/Desktop/Projects/moodofthenation/static/download.png" style="width: 70px;height: 70px;"></div>
              <div class="col-3 col-sm-3 col-lg-3">Before 8 hours <br><br> <img src="/Users/chetu/Desktop/Projects/moodofthenation/static/download.png" style="width: 70px;height: 70px;"></div>
            </div> 
        </div>
        <div class="col-lg-6">
            <canvas id="line2"></canvas><br><br><br>
            <h3 align="center">Newsfeed</h3><br>
              <div class="container">
                <div id="carouselContent blck" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox" id="newsfeed">
                        <div class="carousel-item active text-center p-4">
                          <p>lorem ipsum (imagine longer text) lorem ipsum (imagine longer text) lorem ipsum (imagine longer text)
                            lorem ipsum (imagine longer text)lorem ipsum (imagine longer text)
                          </p>
                        </div>
                        <div class="carousel-item text-center p-4">
                          <p>lorem ipsum (imagine longer text) lorem ipsum (imagine longer text) lorem ipsum (imagine longer text)
                            lorem ipsum (imagine longer text)lorem ipsum (imagine longer text)
                          </p>
                        </div>
                    </div>
                </div>
                <br><br>
                <div align='center'>
                  <a class="btn btn-dark" href="https://github.com/studentchetan/moodofthenation" role="button" style="text-transform:none;width:40%">
                    GITHUB
                  </a>
                  <a class="btn btn-primary" href="#" role="button" style="text-transform:none;width:40%">
                    DISCORD
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/Users/chetu/Desktop/Projects/moodofthenation/static/charts.js" ></script>
<!--
{% if dark == True %}
    <script>
        document.body.style.background = '#00001a';
        document.body.style.color = 'white';
        document.getElementById('live').style.background = '#00001a';
        document.getElementById('live').style.color = 'white';
        document.getElementById('nav').className = 'navbar navbar-expand-sm bg-dark navbar-dark';
    </script>
{% endif %}
-->
</html>