<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="/static/logo.png">
    <title>Login here | MoodOfTheNation</title>
    <style>
        body{
            margin-top: 14%;
            background-color: white;
            color: black;
        }

        h2{
            font:Arial, Helvetica, sans-serif
        }

        .dark-mode {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <div align="center" id="title">
        <img src={{url_for('static', filename='logo.png')}}>
    </div><br><br>
    <!---->
    <div class="container" align="center" id="button">
        <a class="btn btn-outline-dark" href="/login" role="button" style="text-transform:none;width:50%" id="login">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Login
        </a>
    </div>
    <br><br><br>
    <div align="center">
        <a class="btn btn-dark" href="https://github.com/studentchetan/moodofthenation" role="button" style="text-transform:none;width:40%">
            GITHUB
        </a><br><br>
        <a class="btn btn-primary" href="#" role="button" style="text-transform:none;width:40%">
            DISCORD
        </a><br><br>
        <a class="btn btn-info" href="https://github.com/studentchetan/moodofthenation" role="button" style="text-transform:none;width:40%">
            CONTRIBUTE
        </a><br><br>
    </div>
</body>
</html>